ALTER TABLE lotes_terceiros ADD COLUMN IF NOT EXISTS cor_original text; ALTER TABLE lotes_terceiros ADD COLUMN IF NOT EXISTS cor_atual text; ALTER TABLE movimentacoes_terceiros ADD COLUMN IF NOT EXISTS cor_origem text; ALTER TABLE movimentacoes_terceiros ADD COLUMN IF NOT EXISTS cor_destino text;
